
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# Uploads (User requested to ignore invoices)
backend/uploads/
uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
